html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}
.txt-rt {
  text-align: right;
}
.txt-lt {
  text-align: left;
}
.txt-center {
  text-align: center;
}
.float-rt {
  float: right;
}
.float-lt {
  float: left;
}
.clear {
  clear: both;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.vertical-base {
  vertical-align: baseline;
}
.vertical-top {
  vertical-align: top;
}
nav.vertical ul li {
  display: block;
}
nav.horizontal ul li {
  display: inline-block;
}
img {
  max-width: 100%;
}

:root {
  --heading-font: "League Spartan", sans-serif;
  --regular-font: "Lato", sans-serif;

  --font-size-sm: clamp(0.8rem, 0.34vw + 0.72rem, 0.98rem);
  --font-size-base: clamp(1rem, 0.57vw + 0.86rem, 1.31rem);
  --font-size-md: clamp(1.25rem, 0.91vw + 1.02rem, 1.75rem);
  --font-size-lg: clamp(1.56rem, 1.4vw + 1.21rem, 2.33rem);
  --font-size-xl: clamp(1.95rem, 2.1vw + 1.43rem, 3.11rem);
  --font-size-xxl: clamp(2.44rem, 3.1vw + 1.67rem, 4.14rem);
  --font-size-xxxl: clamp(3.05rem, 4.49vw + 1.93rem, 5.52rem);
}

* {
  box-sizing: border-box;
}

body {
  background: #a7f073;
  background: -moz-linear-gradient(-45deg, #a7f073 0%, #5cc923 100%);
  background: -webkit-linear-gradient(-45deg, #a7f073 0%, #5cc923 100%);
  background: linear-gradient(135deg, #a7f073 0%, #5cc923 100%);
  font-family: var(--regular-font);
}

body a {
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

::-webkit-input-placeholder {
  color: black;
}

:-moz-placeholder {
  color: black;
}

::-moz-placeholder {
  color: black;
}

:-ms-input-placeholder {
  color: black;
}

.holder {
  width: 90%;
  margin: 1rem auto 0;
  background-color: white;
  display: flex;

  border-radius: 1.85rem 0 1.85rem 1.85rem;
}

.cover {
  flex-grow: 1;
  object-fit: cover;
  background: #a7f073;
  background: -moz-linear-gradient(-45deg, #a7f073 0%, #5cc923 100%);
  background: -webkit-linear-gradient(-45deg, #a7f073 0%, #5cc923 100%);
  background: linear-gradient(135deg, #a7f073 0%, #5cc923 100%);
}

.cover > img {
  margin: 0;
  height: 700px;
  width: 100%;
  border-radius: 1.85rem;
}

.tabs {
  flex-grow: 1;
  flex-basis: 700px;
  overflow: auto;
  height: 700px;
}

.tabs::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
}

.tabs::-webkit-scrollbar-thumb {
  background-color: green;
  border-radius: 5px;
}

.tabs::-webkit-scrollbar-thumb:hover {
  background-color: yellow;
}

.tabs > h2 {
  font-family: var(--heading-font);
  letter-spacing: 0.25rem;
  font-size: var(--font-size-md);
  text-align: center;
  font-weight: 700;
  margin: 2rem 0 1rem;
}

#horizontalTab {
  display: block;
  width: 100%;
  margin: 0px;
}

.sap_tabs {
  flex: 1;
}

.tab_box {
  background: #192417;
  padding: 2em;
}

.top1 {
  margin-top: 2%;
}

.resp-tabs-list {
  position: sticky;
  top: 5px;

  border: 5px solid black;
  border-radius: 2.5rem;
  list-style: none;
  text-align: center;
  display: flex;
  margin: 0 2rem;
}

.resp-tab-item {
  color: #000;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  outline: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  width: 24.8%;
  background: #85de4e;
  padding: 15px 0;
  border-right: 1px solid #777;
}

.border-left {
  border-radius: 2.5rem 0 0 2.5rem;
}

.border-right {
  border-radius: 0 2.5rem 2.5rem 0;
  flex-grow: 1;
}

.resp-tab-item li:nth-child(4) {
  border-right: 2px solid pink;
}

.resp-tab-active {
  text-shadow: none;
  color: #fff;
  background: #329900;
}

.resp-tabs-container {
  padding: 0px;
  clear: left;
}

h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}

.resp-tab-content {
  display: none;
  padding: 50px;
}

.resp-content-active,
.resp-accordion-active {
  display: block;
}

.resp-tab-item label {
  margin-right: 8px;
}

.member,
.employer,
.remittance,
.receipt {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

input {
  width: 100%;
  padding: 17px 19px 17px 19px;
  margin: 0.5rem 0 1.5rem 0;
  color: black;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  border: none;
  background-color: white;
  border: 1px solid black;
  border-radius: 1rem;
  outline: none;
}

input[type="submit"] {
  background-color: #c2ff90;
  font-size: var(--font-size-base);
  border: none;
  font-family: var(--heading-font);
  letter-spacing: 0.15rem;
  font-weight: 700;
  padding: 1rem;
  border: 1rem;
  cursor: pointer;
}

.tab-1 form ul {
  margin: 30px 0 50px;
}

.reset p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 25px;
}

.cbp-ig-grid {
  list-style: none;
  margin: 0;
  text-align: center;
}

.cbp-ig-grid img {
  width: 50%;
  margin: 0 auto;
}

.cbp-ig-grid:before,
.cbp-ig-grid:after {
  content: " ";
  display: table;
}

.cbp-ig-grid:after {
  clear: both;
}

.cbp-ig-grid li {
  width: 33.3%;
  float: left;
  height: 185px;
  padding-top: 10px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.cbp-ig-grid li:nth-child(-n + 3) {
  border-top: none;
}

.cbp-ig-grid li:nth-child(3n-1),
.cbp-ig-grid li:nth-child(3n-2) {
  box-shadow: 1px 0 0 #ddd;
}

.cbp-ig-grid li > a {
  display: block;
  height: 100%;

  color: #47a3da;
  -webkit-transition: background 0.2s;
  -moz-transition: background 0.2s;
  transition: background 0.2s;
}

.cbp-ig-icon {
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-icon:before {
  font-family: "anyoldicon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.cbp-ig-icon-facebook:before {
  content: "\e000";
}

.cbp-ig-icon-twitter:before {
  content: "\e001";
}

.cbp-ig-icon-gplus:before {
  content: "\e002";
}

.cbp-ig-icon-pinterest:before {
  content: "\e003";
}

.cbp-ig-icon-tumblr:before {
  content: "\e004";
}

.cbp-ig-icon-linkedin:before {
  content: "\e007";
}

.cbp-ig-grid .cbp-ig-title {
  margin: 20px 0 10px 0;
  padding: 30px 0 0 0;
  font-size: 16px;
  color: #fff;
  position: relative;
  -webkit-transition: -webkit-transform 0.2s;
  -moz-transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-grid:hover {
  font-weight: 600;
}

.cbp-ig-grid .cbp-ig-title:before {
  content: "";
  position: absolute;
  background: #028fcc;
  width: 115px;
  height: 5px;
  top: 0px;
  left: 62%;
  margin: 10px 0 0 -80px;
  -webkit-transition: margin-top 0.2s;
  -moz-transition: margin-top 0.2s;
  transition: margin-top 0.2s;
}

.cbp-ig-grid li > a:hover {
  background: #028fcc;
}

.cbp-ig-grid li > a:hover .cbp-ig-icon {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.cbp-ig-grid li > a:hover .cbp-ig-icon:before,
.cbp-ig-grid li > a:hover .cbp-ig-title {
  color: #fff;
}

.cbp-ig-grid li > a:hover .cbp-ig-title {
  -webkit-transform: translateY(-30px);
  -moz-transform: translateY(-30px);
  -ms-transform: translateY(-30px);
  transform: translateY(-30px);
}

.cbp-ig-grid li > a:hover .cbp-ig-title:before {
  background: #fff;
  margin-top: 80px;
}

footer {
  padding: 1rem 0;
  text-align: center;
  font-family: "Lato", sans-serif;
}

.copyright p {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
}

.copyright a {
  color: #ffffff;
  text-decoration: none;
}

.copyright a:hover {
  color: #ffffff;
}

@media screen and (max-width: 1600px) {
  .container {
    width: 45%;
  }
}

@media screen and (max-width: 1440px) {
  .container {
    width: 50%;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    width: 57%;
  }
}

@media screen and (max-width: 1024px) {
  .member,
  .employer,
  .remittance,
  .receipt {
    grid-template-columns: 1fr;
  }
  .cover > img {
    object-fit: cover;
  }
}

@media screen and (max-width: 966px) {
  .container {
    width: 70%;
  }
}

@media screen and (max-width: 900px) {
  h1 {
    font-size: 40px;
  }
  .container {
    width: 75%;
  }
}

@media screen and (max-width: 800px) {
  .cbp-ig-grid .cbp-ig-title::before {
    left: 65%;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    letter-spacing: 5px;
  }
  .holder {
    flex-direction: column;
    margin: 0;
    width: 100%;
    border-radius: 0;
  }
  .cover > img {
    height: auto;
    border-radius: 0;
  }
  .copyright p {
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 640px) {
  h1 {
    letter-spacing: 1px;
  }
  .tab-1 form,
  .register,
  .reset {
    padding: 25px;
  }
  .copyright p {
    letter-spacing: 0;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 568px) {
  .tab-1 form,
  .register,
  .reset {
    padding: 0;
  }
}

@media screen and (max-width: 533px) {
  ul li.resp-tab-item:nth-child(3) {
    padding-top: 13px;
  }
  .cbp-ig-grid li {
    height: 160px;
  }
}

@media screen and (max-width: 480px) {
  .resp-tab-content {
    padding: 30px;
  }

  ul li.resp-tab-item:nth-child(4) {
    padding-top: 13px;
  }
  .cbp-ig-grid .cbp-ig-title::before {
    width: 90px;
    left: 80%;
  }
  .copyright p {
    font-size: 13px;
    line-height: 25px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 414px) {
  .resp-tab-content {
    padding: 30px 15px;
  }
  .cbp-ig-grid .cbp-ig-title::before {
    left: 82%;
  }
  .cbp-ig-grid li {
    height: 140px;
  }

  .reset p {
    font-size: 18px;
  }
}

@media screen and (max-width: 384px) {
  .resp-tab-item {
    width: 24.69%;
  }
  .tab-1 form ul {
    margin: 0px 0 20px;
  }
  .resp-tabs-list {
    margin: 0 1rem;
  }
}

@media screen and (max-width: 375px) {
  .cbp-ig-grid .cbp-ig-title::before {
    left: 86%;
  }
}

@media screen and (max-width: 360px) {
  .resp-tab-item {
    font-size: 13px;
    width: 24.65%;
  }
  .cbp-ig-grid .cbp-ig-title::before {
    left: 91%;
    width: 85px;
  }
}

@media screen and (max-width: 320px) {
  .resp-tab-item {
    font-size: 12px;
    font-weight: 600;
  }
  .cbp-ig-grid .cbp-ig-title::before {
    left: 96.7%;
    width: 80px;
  }
}
